.slidingFirstImg{
    height: 79.5vh;
}
.captionData{
    position: absolute;
    top: 60px;
    font-size: 33px;
    text-align: left;
    line-height: 2.2rem;
    color: #000;
    text-shadow: 1px 0px 2px #000;
}